<h2>Sign up</h2>
<% resource.group ||= Group.new %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="form-inputs">
    <%= f.label :email %>
    <%= f.input :email, required: true, autofocus: true %>
      
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.simple_fields_for :group do |group_form| %>
      <%= group_form.label "Group name" %>
      <%= group_form.input :name, required: true %>
    <% end %>

    <%= f.label :password %>
    <%= f.input :password %>
      
    <%= f.label :password_confirmation %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
<%= render :partial => "devise/shared/links" %>
