<% if params.dig(:property, :name) == "New spaces table" or params.dig(:property, :name) == "Interior spaces table" or params.dig(:property, :name) == "Exterior spaces table" or params.dig(:property, :name) == "New appliances table" or params.dig(:property, :name) == "Shut off locations" or params.dig(:property, :name) == "Interior spaces table w/ features" or params.dig(:property, :name) == "Exterior spaces table w/ features" %>
  <%= turbo_frame_tag "space_search_result_tool", class: "space__new-list-turbo-frame" do %>
<!--if can enhance progressively and get skypack working with stimulus-->
<!--data-controller="combobox"-->
    <div class="space-search-result__panel">   
      <form action="<%= searches_path(turbo_frame: "search_results") %>" data-turbo-frame="search_results" data-controller="form" class="peer" data-action="invalid->form#hideValidationMessage:capture">
<!--        <label for="search_query">Query</label>-->
        <input type="hidden" name="property_id" value="<%= @property.id %>">
        <input id="search_query" name="query" type="search" pattern=".*\w+.*" required autocomplete="off" data-action="input->form#submit" class="space-search-result__search-input" placeholder="Search space/appliance names">
        <!--<input id="search_query" name="query" type="search" pattern=".*\w+.*" required autocomplete="off" data-combobox-target="input" data-action="focus->combobox#start focusout->combobox#stop input->form#submit">-->

        <!--added formethod="get" to fix the error displaying in dom that may disappear with combobox later...-->
        <!--there is also a chrome extensions error that pops up in the dom with this search bar feature sometimes-->
        <button formmethod="get" data-form-target="submit"> 
          Search
        </button>
      </form>
      <turbo-frame id="search_results" target="_top" class="empty:hidden peer-invalid:hidden"></turbo-frame> 
      <div class="space-search-result__body">   
        <div class="space-search-result__actions">
          <p class="devise__hint devise--space-form-hint">Hint: Click on the name of a space or appliance to create them.</p>
          <%= simple_form_for [@property] do |f| %>
            <%= form_error_notification(@property) %>
            <div data-controller="element search-params">
              <%= f.select :name, @property.table_styles.invert, {}, autocomplete: "off", data: { action: "change->search-params#encode change->element#click" }, class: "space__select" %>
              <noscript>
                <button formmethod="get" formaction="<%= property_path(@property) %>">Select style</button>
              </noscript>
              <a href="<%= property_path(@property) %>" 
                 hidden
                 data-search-params-target="anchor"
                 data-element-target="click"
                 data-turbo-frame="lettered_names"></a> 
<!--            <span>Tip: Use the dropdown tools here to change views and create templates!</span>-->
            </div>
          <% end %>  
          <%# link_to "Cancel", property_path(@property), class: "btn btn--light" %>
        </div>
        <turbo-frame id="lettered_names" class="space__turbo-frame-lettered-names">
          <% @lettered_names.each do |key, value| %>
            <h4 class="space-search-result--letter-header"><%= key %></h4>
            <div class="space-search-result--letter-group">
              <% value.each do |value| %>
                <%= simple_form_for [@property, @space], html: { class: "space-search-result__form" } do |form| %>
                  <% if params.dig(:property, :name) == "Interior spaces table w/ features" or params.dig(:property, :name) == "Exterior spaces table w/ features" %>
                    <%= hidden_field_tag "spaces_with_features", "common" %>
                  <% end %>
                  <%= form.hidden_field :user_id, value: current_user.id %>
                  <%= form.hidden_field :location, value: @space.location %>
                  <%= hidden_field_tag "origin", "new list" %>
                  <%= form.hidden_field :name, value: "#{value}" %>
                  <%= form.submit "#{value}", class: "btn btn--drawn" %>
                  <% if params.dig(:property, :name) == "Interior spaces table w/ features" or params.dig(:property, :name) == "Exterior spaces table w/ features" %>
                    <span>Wall, ceiling, floor covering</span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </turbo-frame>
      </div>
    </div>
  <% end %>  
<% else %>
  <%= simple_form_for [property, space], html: { class: "form space" } do |f| %>
    <%= form_error_notification(space) %>
    <%= hidden_field_tag :list, "#{params[:location]}" %>

    <% if params[:edit_location] and params[:edit_location] == "interior" %>
      <%= hidden_field_tag :edit_location, "exterior" %>
    <% elsif params[:edit_location] and params[:edit_location] == "exterior" %>
      <%= hidden_field_tag :edit_location, "interior" %>
    <% else %>
      <% if space.location == "interior" %>
  <!--  default opposite location to update to-->
      <%= hidden_field_tag :edit_location, "exterior" %>
      <% else %>
      <%= hidden_field_tag :edit_location, "interior" %>
      <% end %>
    <% end %>

    <% if params[:edit_location] %>
      <%= f.hidden_field :location, value: params[:edit_location] %>
    <% else %>
      <%= f.hidden_field :location %>
    <% end %>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :name, html5: true, input_html: { autofocus: true } %>
    <%= link_to "Cancel", property_path(property), class: "btn btn--light" %>
    <%= f.submit class: "btn btn--secondary" %>
    <% if params[:action] == "edit" %> 
      <% if params[:edit_location] %>
        <button formmethod="get" 
                formaction="<%= edit_property_space_path(property, space) %>"
                class="btn btn--light"><%= params[:edit_location] %></button>
        <%# f.submit "Login", type: "image", src: url_for("/assets/btn_google_signin_dark_normal_web.png") %>
      <% else %>
        <button formmethod="get" 
                formaction="<%= edit_property_space_path(property, space) %>"
                class="btn btn--light"><%= space.location %></button>
      <% end %>
    <% end %>
  <% end %>
<% end %>