<%= simple_form_for property, html: { class: "property form property--form" } do |f| %>
  <%= form_error_notification(property) %>
  <div class="property--form">
<!--config styles in simple form?-->
    <div id="property-name"><%= f.input :name, input_html: { autofocus: true }, class: "property--input" %></div>
    <%= f.input :address, placeholder: "Address" %>
    <%= f.input :addresstwo, placeholder: "Address Two" %>
    <div class="property--inputs">
      <%= f.input :city, placeholder: "City", 
                         wrapper_html: { class: "property__input-large" } %>
      <%= f.input :state, placeholder: "State", 
                          wrapper_html: { class: "property__input-small" } %>
      <%= f.input :zip, placeholder: "Zip", 
                        wrapper_html: { class: "property__input-medium" } %>
    </div>
    <div class="property--inputs">
      <%= f.input :country, placeholder: "Country",
                            wrapper_html: { class: "property__input-large" } %>  
      <%= f.input :yearbuilt, placeholder: "Year built",
                              wrapper_html: { class: "property__input-small" } %>
    </div>
    <div class="property--inputs">
      <%= f.input :lotsize, placeholder: "Lot size", 
                            wrapper_html: { class: "property__input-large" } %>
      <%= f.input :squarefootage, placeholder: "Square footage", 
                                  wrapper_html: { class: "property__input-medium" } %>
    </div>

    <% if @came_from_new_create %>
      <fieldset data-controller="element search-params" class="property--fieldset">
        <%= f.label :style %>
        <%= f.select :style, property.forms.invert, {}, autocomplete: "off",
                     data: { action: "change->search-params#encode change->element#click" } %>
        <noscript>
          <button formmethod="get" formaction="<%= new_property_path %>">Select style</button>
        </noscript>
        <a href="<%= new_property_path %>" 
           hidden
           data-search-params-target="anchor"
           data-element-target="click" 
           data-turbo-frame="<%= f.field_id(:turbo_frame, property.id) %>"></a> 
      </fieldset> 
    <% end %>  
      
    <turbo-frame id="<%= f.field_id(:turbo_frame, property.id) %>">
      <% if property.style == "Apartments" and @came_from_new_create %>
        <section>
          <%= field_set_tag "Apartments annote", class: "property--fieldset" do %>
            <%= f.label :units_end_with_letters? %>
            <%= f.text_field :letter, placeholder: "i.e. abc" %>
            <%= f.text_field :low, placeholder: "Lowest apt. #" %>
            <%= f.text_field :high, placeholder: "Highest apt. #" %>
          <% end %>
        </section>
      <% end %>
    </turbo-frame>
  </div>
  <%= link_to "Cancel", properties_path, class: "btn btn--light" %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>