<div class="header">
  <div class="property__actions">
    
    <%# image_tag "figma_ban.png" %>
      
    <%= render "spaces/form", property: property, space: space %>
    <%= render "appliances/form", property: property, appliance: appliance %>
      
    <%= render "form_template", property: property, template: "2 bed" %>
    <%= render "form_template", property: property, template: "4 bed" %>
    <%= render "form_template", property: property, template: "Studio apt." %>
    <%= render "form_template", property: property, template: "Retail" %>
  </div>
</div>

<div class="empty-state">
  <%= render "spaces/list_of_forms", property: property, space: space %>
</div>