<%= turbo_frame_tag property do %>
<!--replace with commented out to make more info display and wrap like features-->
<!--<div class="feature">-->
  <div class="property">
<!--<div class="feature__name">-->
    <%= link_to property.name,
                property_path(property),
                autocomplete: "off",
                data: { turbo_frame: "_top" } %>
<!--</div>-->
    <% if property.property_template and property.property_template.to_i == 0 %>
      <p class="property__hint">This is a town house, shared, apartments style property template. Changes made here will be broadcasted to its <%= property.associated_count(current_group) %> associated properties.</p>
    <% end %>
<!--
    <div class="feature__variety-brand">
      <%# property.low %>
        &times;
      <%# property.high %>
    </div>
    <div class="feature__variety">
      <%# property.low %>
    </div>
    <div class="feature__brand">
      <%# property.high %>
    </div>
-->
<!--<div class="feature__actions">-->
    <div class="property__actions">
      <%= button_to "Delete",
                    property_path(property),
                    method: :delete,
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  edit_property_path(property),
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>
