      <div class="space">
        <div class="space__body">
          <h3>Choose</h3>
          <div class="drawing-tool__body">
            <% @lettered_names.each do |key, value| %>
              <div class="drawing-tool__names">
                <%= key %>
                <% value.each do |value| %>
                  <%= simple_form_for [@property, @space] do |form| %>
                    <%= hidden_field_tag "drawn" %>
                    <%= form.hidden_field :name, value: "#{value}" %>
                    <%= form.submit "#{value}", class: "btn--drawn" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="space__footer drawing-tool__staging">
            <h3>Preview</h3>
            <%= turbo_frame_tag nested_dom_id("space", Space.new) %>
          </div>
        </div>
      </div>
