<!--if can enhance progressively and get skypack working with stimulus-->
<!--data-controller="combobox"-->
<div class="space">
  <div class="space-search-result__body">
    <form action="<%= searches_path(turbo_frame: "search_results") %>" data-turbo-frame="search_results" data-controller="form" class="peer" data-action="invalid->form#hideValidationMessage:capture">
      <label for="search_query">Query</label>
      <input type="hidden" name="property_id" value="<%= @property.id %>">
      <input id="search_query" name="query" type="search" pattern=".*\w+.*" required autocomplete="off" data-action="input->form#submit">
<!--<input id="search_query" name="query" type="search" pattern=".*\w+.*" required autocomplete="off" data-combobox-target="input" data-action="focus->combobox#start focusout->combobox#stop input->form#submit">-->

<!--added formethod="get" to fix the error displaying in dom that may disappear with combobox later...-->
<!--there is also a chrome extensions error that pops up in the dom with this search bar feature sometimes-->
      <button formmethod="get" data-form-target="submit"> 
        Search
      </button>
    </form>
    <turbo-frame id="search_results" target="_top" class="empty:hidden peer-invalid:hidden"></turbo-frame> 
      
    <turbo-frame id="hello">
      <form action="<%= property_path(@property) %>">
        <input type="hidden" name="singles" value="x2">
        <button formmethod="get">x2</button>
        <% if params[:singles] and params[:singles] == "x2" %>
          Hello
        <% end %>
          
        <% if params[:singles] and params[:singles] == "x2" %>
          <turbo-stream action="replace" targets=".goodbye">
            <template>
              x2
            </template>
          </turbo-stream>
        <% end %>
      </form>
    </turbo-frame>
      
    <turbo-frame id="welcome">
      <form action="<%= property_path(@property) %>">
        <input type="hidden" name="singles" value="spaces with features">
        <button formmethod="get">Features</button>
        
        <% if params[:singles] and params[:singles] == "spaces with features" %>
          <turbo-stream action="replace" targets=".goodbye">
            <template>
              features
            </template>
          </turbo-stream>
        <% end %>
      </form>
    </turbo-frame>
  
    <% @lettered_names.each do |key, value| %>
      <h4 class="space-search-result--letter-header"><%= key %></h4>
      <% value.each do |value| %>
        <div class="space-search-result--letter-group">
          <%= simple_form_for [@property, @space] do |form| %>
            <% if params[:singles] and params[:singles] == "x2" %>
              <%= hidden_field_tag "x2", "2" %>
            <% end %>
            <% if params[:singles] and params[:singles] == "spaces with features" %>
              <%= hidden_field_tag "spaces_with_features", "common" %>
            <% end %>
            <%= form.hidden_field :name, value: "#{value}" %>
            <%= form.submit "#{value}", class: "btn btn--drawn goodbye" %>
            <% if params[:singles] and params[:singles] == "x2" %>
              <span>x2</span>
            <% end %>
            <% if params[:singles] and params[:singles] == "spaces with features" %>
              <span>Wall, ceiling, floor covering</span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
