<%= turbo_stream_from current_group, "properties" %>
<main class="container mb-xxxxl">
  <%= link_to sanitize("&larr; Back to properties"), properties_path %>
    
  <div class="header">
    <h1>
      <%= @property.name %>
    </h1>
    <div class="property__actions"> 
        
      <%= simple_form_for [@property] do |f| %>
        <%= form_error_notification(@property) %>
        <fieldset data-controller="element search-params">
          <%= f.label :style %>
          <%= f.select :name, @property.styles.invert, {}, autocomplete: "off",
                       data: { action: "change->search-params#encode change->element#click" } %>
          <noscript>
            <button formmethod="get" formaction="<%= property_path(@property) %>">Select style</button>
          </noscript>
          <a href="<%= property_path(@property) %>" 
             hidden
             data-search-params-target="anchor"
             data-element-target="click" 
             data-turbo-frame="<%= dom_id(@property) %>"></a> 
        </fieldset>
      <% end %>
        
      <%= link_to "New space",
                  new_property_space_path(@property),
                  data: { turbo_frame: dom_id(Space.new) },
                  class: "btn btn--primary" %>   
        
      <%= link_to "pdf", 
                  property_path(@property, format: :pdf), 
                  data: { turbo_frame: "_top" },
                  class: "btn btn--light" %>
    </div>
  </div>

<%# image_tag "figma_ban.png" %>
<%# render "t_form", property: @property, template: "2 bed" %>
<%# render "t_form", property: @property, template: "4 bed" %>
<%# render "t_form", property: @property, template: "Studio apt." %>
<%# render "t_form", property: @property, template: "Retail" %>    
  <%= turbo_frame_tag @property do %>
<!--    <div class="space__body">-->
    <%= turbo_frame_tag Space.new %>
    <%= turbo_frame_tag "spaces" do %>
      <%= render "spaces/empty_state" %>
      <%= render @spaces, property: @property %>
    <% end %>
    
    <%= turbo_frame_tag Appliance.new %>
    <%= turbo_frame_tag "appliances" do %>
      <%= render @appliances, property: @property %>
    <% end %> 
<!--    </div>-->
  <% end %>
</main>

<%= turbo_frame_tag dom_id(@property, :total) do %>
  <%= render "properties/total", property: @property %>
<% end %>