<%= turbo_stream_from current_group, "properties" %>

<main class="container mb-xxxxl">
  <%= link_to sanitize("&larr; Back to properties"), properties_path %>

  <div class="header">
    <h1>
      <%= @property.name %>
    </h1>
  </div>
    
  <% if @property.spaces.present? %>
    
    <%= turbo_frame_tag Space.new %>
    <%= turbo_frame_tag "spaces" do %>
        <%= render @spaces, property: @property %>
    <% end %>
    
    <%= turbo_frame_tag Appliance.new %>
    <%= turbo_frame_tag "appliances" do %>
        <%= render @appliances, property: @property %>
    <% end %>
  
  <% else %>

    <%= render "properties/banner", property: @property %>   
    
  <% end %>
    
</main>

<%= turbo_frame_tag dom_id(@property, :total) do %>
    <%= render "properties/total", property: @property %>
<% end %>
