<%= turbo_frame_tag feature do %>
    <div class="feature">
      <div class="feature__name">
        <%= feature.name %>
        <div class="feature__description">
          <%= simple_format feature.description %>
        </div>
      </div>
      <div class="feature__quantity-price">
        <%= feature.quantity %>
        &times;
        <%= number_to_currency feature.unit_price %>
      </div>
      <div class="feature__quantity">
        <%= feature.quantity %>
      </div>
      <div class="feature__price">
        <%= number_to_currency feature.unit_price %>
      </div>
      <div class="feature__actions">
        <%= button_to "Delete",
                      [@property, space, feature],
                      method: :delete,
                      class: "btn btn--light" %>
        <%= link_to "Edit",
                    [:edit, @property, space, feature],
                    class: "btn btn--light" %>
      </div>
    </div>
<% end %>
