<%= simple_form_for [property, space, feature],
                    html: { class: "form feature feature--form" } do |f| %>

  <%= form_error_notification(feature) %>

  <%= f.input :name,
              wrapper_html: { class: "feature__name" },
              input_html: { autofocus: true } %>
  <%= f.input :quantity,
              wrapper_html: { class: "feature__variety" } %>
  <%= f.input :unit_price,
              wrapper_html: { class: "feature__brand" } %>
  <%= f.input :description,
              wrapper_html: { class: "feature__description" } %>

  <div class="feature__actions">
    <%= link_to "Cancel", property_path(property), class: "btn btn--light" %>
    <%= f.submit class: "btn btn--secondary" %>
  </div>
<% end %>
